/* ----------------------------------------- */
/* line 7, ../sass/style.scss */
.Container {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 80px;
  margin-left: 80px;
  line-height: 6px;
}

/* line 14, ../sass/style.scss */
ol.even {
  position: relative;
  left: 90.90909px;
}

/* line 18, ../sass/style.scss */
ol.odd {
  position: relative;
  margin-top: -10px;
  margin-bottom: -10px;
}

/* line 23, ../sass/style.scss */
.hex {
  position: relative;
  margin: 1px auto;
  width: 100px;
  height: 170px;
  border-radius: 10px;
  background: #ccc;
  transform: rotate(-90deg);
  display: inline-block;
  margin-right: 76.92308px;
  transition: all 150ms ease-in-out;
}

/* line 34, ../sass/style.scss */
.hex:before, .hex:after {
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background: inherit;
  content: '';
}

/* line 41, ../sass/style.scss */
.hex:before {
  transform: rotate(60deg);
}

/* line 44, ../sass/style.scss */
.hex:after {
  transform: rotate(-60deg);
}

/* line 47, ../sass/style.scss */
.hex:hover {
  background: url(B:/CareerInsights/img/Client-bg1.png) center center repeat;
  cursor: pointer;
}

/* <<< content page header >> */
/* line 53, ../sass/style.scss */
#topMenu {
  background: url(B:/CareerInsights/img/topmenu.png) top center no-repeat;
  padding-top: 20px;
  height: 320px;
}

/* line 54, ../sass/style.scss */
#topMenu .Center {
  max-width: 1098px;
  margin: auto;
  position: relative;
}
