@import "compass/css3";

$hex-size: 100px; // Only change size here. Best used with sizes from 5px - 10px.


	/* ----------------------------------------- */
	.Container {
		margin-top: 20px;
		margin-bottom: 20px;
		margin-right: 80px;
		margin-left: 80px;
		line-height: 6px;
	}
	ol.even {
	  position: relative;
	  left: ($hex-size / 1.1);
	}
	ol.odd {
	  position: relative;
	  margin-top: -10px;
	  margin-bottom: -10px;
	}
	.hex {
	  position: relative;
	  margin: 1px auto;
	  width: $hex-size; height: ($hex-size * 1.7);
	  border-radius: 10px;
	  background: #ccc;
	  transform: rotate(-90deg);
	  display: inline-block;
	  margin-right: ($hex-size / 1.30);
	  transition: all 150ms ease-in-out;
	}
	.hex:before, .hex:after {
	  position: absolute;
	  width: inherit; height: inherit;
	  border-radius: inherit;
	  background: inherit;
	  content: '';
	}
	.hex:before {
	  transform: rotate(60deg);
	}
	.hex:after {
	  transform: rotate(-60deg);
	}
	.hex:hover {
	  background: url(B:/CareerInsights/img/Client-bg1.png) center center repeat;
	  cursor: pointer;
	}
	
	/* <<< content page header >> */
	#topMenu { background: url(B:/CareerInsights/img/topmenu.png) top center no-repeat; padding-top: 20px; height: 320px;}
	#topMenu .Center { max-width: 1098px; margin: auto; position: relative; }
	